<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title slot="start" style="display: flex; align-items: center;">
      <ion-title size="default">Perfil</ion-title>
    </ion-title>
    
    <ion-avatar slot="end">
      <img alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="caja">
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    
    <ion-card-content>   
      <ion-label>Nombre: {{ nombre }}</ion-label>
      <ion-label>Apellido: {{ apellido }}</ion-label>
      <ion-label>Rut: {{ rut }}</ion-label>
      <ion-label>Correo Electrónico: {{ email }}</ion-label>
      <ion-label>Teléfono: {{ telefono }}</ion-label>
      <ion-label>Dirección: {{ direccion }}</ion-label>
      <ion-button shape="round" class="boton" [routerLink]="['/modificaruser']">Editar Perfil</ion-button>

      <!-- Mostrar el tipo de usuario -->
      <ion-label>Tipo de Usuario: {{ esConductor ? 'Conductor' : 'Pasajero' }}</ion-label>

      <!-- Mostrar el botón solo si es conductor -->
      <ion-button *ngIf="esConductor" shape="round" [routerLink]="['/addauto']">Ingresar un auto</ion-button>

      <!-- Mostrar la sección de autos solo si es conductor -->
      <ion-card *ngIf="esConductor">
        <ion-card-header>
          <ion-card-title>Autos</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <ion-item *ngFor="let auto of autos">
            <ion-label>Patente: {{ auto.patente }}</ion-label>
            <ion-label>Color: {{ auto.color }}</ion-label>
            <ion-label>Marca: {{ auto.marca }}</ion-label>
            <ion-label>Modelo: {{ auto.modelo }}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
