<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title slot="start" style="display: flex; align-items: center;">
      <ion-title size="default">Perfil</ion-title>
    </ion-title>
    
    <ion-avatar slot="end">
      <img alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="caja">
    <ion-card-header>
      <ion-card-title>Perfil de Usuario</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>   
      <ion-label>Nombre: {{ usuario[0].nombre }}</ion-label>
      <ion-label>Apellido: {{ usuario[0].apellido }}</ion-label>
      <ion-label>Rut: {{ usuario[0].rut }}</ion-label>
      <ion-label>Correo Electrónico: {{ usuario[0].correo }}</ion-label>
      <ion-label>Teléfono: {{ usuario[0].telefono }}</ion-label>
      <ion-label>Dirección: {{ usuario[0].direccion }}</ion-label>
      <ion-button shape="round" class="boton" (click)="modificar(usuario[0])">Editar Perfil</ion-button>

      <!-- Mostrar el tipo de usuario -->
      <ion-label>Tipo de Usuario: <span *ngIf="usuario[0].idroles_FK == 2">Conductor</span> <span *ngIf="usuario[0].idroles_FK == 1">Pasajero</span> </ion-label>

      <!-- Mostrar el botón solo si es conductor -->
      <ion-button *ngIf="usuario[0].idroles_FK == 2" shape="round" [routerLink]="['/addauto']">Ingresar un auto</ion-button>

      <!-- Mostrar la sección de autos solo si es conductor -->
      <ion-card class="caja" *ngIf="usuario[0].idroles_FK == 2">
        <ion-card-header>
          <ion-card-title>Autos</ion-card-title>
        </ion-card-header>
        
        <ion-card-content >
            <ion-label>Patente: {{ autos[0].patente }}</ion-label>
            <br>
            <ion-label>Color: {{ autos[0].color }}</ion-label>
            <br>
            <ion-label>Marca: {{ autos[0].marca }}</ion-label>
            <br>
            <ion-label>Modelo: {{ autos[0].modelo }}</ion-label>
            <br>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
