<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">notFound</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="car" src="https://cdn-icons-png.flaticon.com/512/5455/5455467.png" />
    <ion-card-header>
      <ion-card-title>Ha ocurrido algo inesperado</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estas intentando ingresar a una ruta inexistente.
    </ion-card-content>
  </ion-card>
</ion-content>
