<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón del menú a la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Título con imagen a la izquierda -->
    <ion-title slot="start" style="display: flex; align-items: center;">
      Ingresar Viaje
    </ion-title>
    
    <!-- Avatar a la derecha -->
    <ion-avatar slot="end">
      <img [routerLink]="['/pprincipal']"  alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>


<ion-content class ="fondo" [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">addviaje</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
  <ion-card class="caja">
    <br>
    <ion-item>
      <ion-select placeholder="Origen de viaje" [(ngModel)]="Sede">
        <ion-select-option *ngFor="let s of arregloSedes" [value]="s">{{s.nombreSede}}</ion-select-option> 
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-select placeholder="Lugar de llegada" [(ngModel)]="Comuna">
        <ion-select-option *ngFor="let c of arreglocomunas" [value]="c">{{c.nombreComuna}}</ion-select-option> 
      </ion-select>
    </ion-item>

    <ion-input label="Fecha Viaje" label-placement="floating" fill="outline" placeholder="Ingrese la fecha del Viaje" [(ngModel)]="fechaViaje" ></ion-input>
    <ion-input label="Hora Viaje" label-placement="floating" fill="outline" placeholder="Ingrese la hora del Viaje" [(ngModel)]="horaViaje" ></ion-input>
    <ion-input label="Numero De Asientos" label-placement="floating" fill="outline" placeholder="Ingrese el numero de asientos" [(ngModel)]="asientos" ></ion-input>
    <ion-input label="Costo" label-placement="floating" fill="outline" placeholder="Ingrese el costo del Viaje" [(ngModel)]="costo" ></ion-input>
    <br>
    <ion-item>
      <ion-select placeholder="Seleccione un auto" [(ngModel)]="auto">
        <ion-select-option *ngFor="let A of arregloAutos" [value]="A">{{A.patente}}</ion-select-option> 
      </ion-select>
    </ion-item>
  
    <br>

    <ion-button shape="round" (click)="insertarviaje()">Ingresar Viaje</ion-button>
    <ion-button shape="round" [routerLink]="['/']">Volver</ion-button>
    <br>
    
  </ion-card>
  </ion-content>
</ion-content>
