<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ingresar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img alt="Silhouette of mountains" src="https://cdn.discordapp.com/attachments/1143004800951275550/1145132206319214653/Sin_titulo2.png" />

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">addviaje</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-input label="Desde" label-placement="floating" fill="outline" placeholder="Plaza Norte"></ion-input>
    <ion-input label="Hacia" label-placement="floating" fill="outline" placeholder="Costanera Center"></ion-input>

    <ion-select label="Asientos Disponibles" label-placement="floating" fill="outline">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
    </ion-select>

    <ion-input type="time" label="Hora Salida" type="time" label-placement="floating" fill="outline" placeholder="13:00"></ion-input>
    

    <ion-input label="Tarifa" label-placement="floating" fill="outline" placeholder="BB-RR-48"></ion-input>

    <ion-button shape="round">Ingresar Viaje</ion-button>


</ion-content>
