<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" style="display: flex; align-items: center;">
      Bienvenido(a)
    </ion-title>
    
    <ion-avatar slot="end">
      <img alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="caja">
      <img alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
      <ion-input label="Correo Electrónico" label-placement="floating" fill="outline" placeholder="Ingrese su Correo" [(ngModel)]="email" (input)="validateEmail()"></ion-input>
      <p *ngIf="errorMessages.email" class="error-message">{{ errorMessages.email }}</p>
      
      <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ej: 123Fact@" type="password" [(ngModel)]="password" (input)="validatePassword()"></ion-input>
      <p *ngIf="errorMessages.password" class="error-message">{{ errorMessages.password }}</p>

      <ion-button shape="round" class="boton" (click)="login()" [disabled]="!areAllValid()">Iniciar Sesion</ion-button>

      <a class="links-secundarios" [routerLink]="['/register']">Registrarse</a><br>
      <a class="links-secundarios" [routerLink]="['/recuperacontra']">Olvidé mi Contraseña</a><br> 
      
    </ion-card>
  </ion-content>
</ion-content>
