<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title slot="start" style="display: flex; align-items: center;">
      Bienvenido(a)
    </ion-title>
    
    <ion-avatar slot="end">
      <img [routerLink]="['/pprincipal']" alt="Avatar" src="https://cdn.discordapp.com/attachments/1143004800951275550/1145132206319214653/Sin_titulo2.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="caja">
      
      <ion-input label="Correo Electrónico" label-placement="floating" fill="outline" placeholder="Ingrese su Correo" [(ngModel)]="email" (input)="validateEmail()"></ion-input>
      <p *ngIf="errorMessages.email" class="error-message">{{ errorMessages.email }}</p>
      
      <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ej: 123Fact@" type="password" [(ngModel)]="password" (input)="validatePassword()"></ion-input>
      <p *ngIf="errorMessages.password" class="error-message">{{ errorMessages.password }}</p>

      <ion-button shape="round" class="boton" (click)="login()" [disabled]="!areAllValid()">Iniciar Sesion</ion-button>

      <a class="links-secundarios" [routerLink]="['/register']">Registrarse</a><br>
      <a class="links-secundarios" [routerLink]="['/recuperacontra']">Olvidé mi Contraseña</a><br> 
      
    </ion-card>
  </ion-content>
</ion-content>
