<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title slot="start" style="display: flex; align-items: center;">
      Modificar Usuario
    </ion-title>
    
    <ion-avatar slot="end">
      <img [routerLink]="['/pprincipal']" alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card class="caja">
      <br>


      
      <input type="file" style="display: none" #fileInput (change)="handleFileInput($event)">
      <ion-button (click)="fileInput.click()">Subir foto</ion-button>
      <img [src]="selectedImage" *ngIf="selectedImage">
      


      
      <ion-input label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese su nombre"  [(ngModel)]="nombre" ></ion-input>
      

      <ion-input label="Apellido" label-placement="floating" fill="outline" placeholder="Ingrese su apellido" [(ngModel)]="apellido" ></ion-input>
      

      <ion-input label="Correo Electrónico" label-placement="floating" fill="outline" placeholder="Ingrese su Correo" [(ngModel)]="email" ></ion-input>
     

      <ion-input label="Telefono" label-placement="floating" fill="outline" placeholder="Ingrese su teléfono" [(ngModel)]="telefono" ></ion-input>
      

      <ion-input label="Direccion" label-placement="floating" fill="outline" placeholder="Ingrese su dirección" [(ngModel)]="direccion" ></ion-input>
      
      <br>

      <ion-button shape="round" class="boton" (click)="editarusuario()">Modificar datos</ion-button>



      <ion-button shape="round" [routerLink]="['/']">Volver</ion-button>
      
    </ion-card>
  </ion-content>
