<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>modificaruser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class ="fondo" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">modificaruser</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-content>
    <ion-card class="caja">
    
       
        <ion-input label="Cambiar foto" label-placement="floating" type="file" fill="outline" (change)="handleFileInput($event)" accept="image/*">
          <img [src]="selectedImage" *ngIf="selectedImage">
        </ion-input>
       
  
      <ion-input label="Cambiar contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su Correo"></ion-input>
      <ion-input label="Cambiar dirección" label-placement="floating" fill="outline" placeholder="Ingrese su Correo"></ion-input>
      <ion-button shape="round" color="success" [routerLink]="['/perfil']" >Modificar</ion-button>
      <ion-button shape="round" color="danger" [routerLink]="['/']" >Volver</ion-button>
    
  
  </ion-card>
  
  
  
  
  </ion-content>




</ion-content>
