<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón del menú a la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Título con imagen a la izquierda -->
    <ion-title slot="start" style="display: flex; align-items: center;">
      Reclamo
    </ion-title>
    
    <!-- Avatar a la derecha -->
    <ion-avatar slot="end">
      <img [routerLink]="['/pprincipal']" alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class ="fondo" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reclamo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="caja">

    <ion-select label="Tipo de poblema" label-placement="floating" fill="outline">
      <ion-select-option value="1">Auto</ion-select-option>
      <ion-select-option value="2">Pasajero</ion-select-option>
      <ion-select-option value="3">Conductor</ion-select-option>
    </ion-select>
    <ion-textarea label="Cuéntanos tu problema"labelPlacement="floating">
        
    </ion-textarea>
    
    <ion-button (click)="presentAlert()" shape="round" class="boton" [routerLink]="['']">Ingresar reclamo</ion-button><br>
    
  </ion-card>

  













</ion-content>


