<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón del menú a la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Título con imagen a la izquierda -->
    <ion-title slot="start" style="display: flex; align-items: center;">
      Recuperar Contraseña
    </ion-title>
    
    <!-- Avatar a la derecha -->
    <ion-avatar slot="end">
      <img [routerLink]="['/pprincipal']" alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <ion-card class="caja" *ngIf="!codigoEnviado; else codigoEnviadoTemplate">
    <br>
    <ion-label color="blank"><p>Ingrese su numero telefonico:</p></ion-label>
    <ion-input label="telefono" label-placement="floating" fill="outline"
      placeholder="Ingrese su numero telefonico" [(ngModel)]="numeroTelefono"></ion-input><br>

    <ion-button shape="round" color="success" (click)="enviarCodigoRecuperacion()">Enviar código</ion-button>
    <ion-button shape="round" color="danger" [routerLink]="['/login']">Cancelar</ion-button>
  </ion-card>

  <ng-template #codigoEnviadoTemplate>
    <ion-card>
      <ion-label color="blank"><p>Ingrese el código recibido:</p></ion-label>
      <ion-input label="Código" label-placement="floating" fill="outline"
        placeholder="Ingrese el código" [(ngModel)]="codigoRecibido"></ion-input><br>

      <ion-button shape="round" color="success" (click)="verificarCodigo()">Verificar código</ion-button>
      <ion-button shape="round" color="danger" [routerLink]="['/login']">Cancelar</ion-button>
    </ion-card>
  </ng-template>
</ion-content>