<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer la contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">

  <ion-card class="caja">
    <br>
    <ion-input label="Correo Electrónico" label-placement="floating" fill="outline"
      placeholder="Ingrese su Correo"></ion-input><br>
  
    <ion-button color="success" id="present-alert" [routerLink]="['/']">Enviar código</ion-button>

    <ion-alert trigger="present-alert" header="Código enviado" subHeader="Revisar bandeja de entrada de su correo electrónico"
      [buttons]="alertButtons">
    </ion-alert>
 
  </ion-card>

  <ion-button color="danger"  [routerLink]="['/']">Cancelar</ion-button>

<!--  <ion-card class="caja">
  <ion-input label="Contraseña nueva" label-placement="floating" fill="outline"
  placeholder="Ingrese Contraseña nueva"></ion-input><br>
<ion-input label="Confirmar contraseña" label-placement="floating" fill="outline"
  placeholder="Confirmar contraseña"></ion-input><br>


  <ion-button color="success" id="present-alert" [routerLink]="['/']">Cambiar contraseña</ion-button>

    <ion-alert trigger="present-alert" header="Contraseña cambiada" subHeader="Ha cambiado su contraseña correctamente"
      [buttons]="alertButtons">
    </ion-alert>

  </ion-card>  -->
 
 
</ion-content>