<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón del menú a la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Título con imagen a la izquierda -->
    <ion-title slot="start" style="display: flex; align-items: center;">
      Recuperar Contraseña
    </ion-title>
    
    <!-- Avatar a la derecha -->
    <ion-avatar slot="end">
      <img [routerLink]="['/pprincipal']" alt="Avatar" src="https://cdn.discordapp.com/attachments/1143004800951275550/1145132206319214653/Sin_titulo2.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">

  <ion-card class="caja">
    <br>
    <ion-label color="blank"><p>Ingrese su Correo:</p></ion-label>
    <ion-input label="Correo Electrónico" label-placement="floating" fill="outline"
      placeholder="Ingrese su Correo"></ion-input><br>
  
    <ion-button shape="round" color="success" id="present-alert" [routerLink]="['/']">Enviar código</ion-button>

    <ion-alert trigger="present-alert" header="Código enviado" subHeader="Revisar bandeja de entrada de su correo electrónico"
      [buttons]="alertButtons">
    </ion-alert>
    <ion-button shape="round" color="danger"  [routerLink]="['/']">Cancelar</ion-button>
  </ion-card>

  

<!--  <ion-card class="caja">
  <ion-input label="Contraseña nueva" label-placement="floating" fill="outline"
  placeholder="Ingrese Contraseña nueva"></ion-input><br>
<ion-input label="Confirmar contraseña" label-placement="floating" fill="outline"
  placeholder="Confirmar contraseña"></ion-input><br>


  <ion-button color="success" id="present-alert" [routerLink]="['/']">Cambiar contraseña</ion-button>

    <ion-alert trigger="present-alert" header="Contraseña cambiada" subHeader="Ha cambiado su contraseña correctamente"
      [buttons]="alertButtons">
    </ion-alert>

  </ion-card>  -->
 
 
</ion-content>