<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón del menú a la izquierda -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <!-- Título con imagen a la izquierda -->
    <ion-title slot="start" style="display: flex; align-items: center;">
      Informacion viaje
    </ion-title>
    
    <!-- Avatar a la derecha -->
    <ion-avatar slot="end">
      <img [routerLink]="['/pprincipal']"  alt="Avatar" src="https://cdn.discordapp.com/attachments/1142192349838053398/1171554690794803200/Captura-modified.png?ex=655d1a54&is=654aa554&hm=9352305d890d3878c369d31726da8776d248430d23031f60e84de8bbfa2a7b82&" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">infoviaje2</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card class="caja">

    <ion-card-header>

      <ion-card-title>En 10 minutos</ion-card-title>
      
    </ion-card-header>
    <ion-card-content class="colorletra">
      <ion-icon name="flag"></ion-icon> Mall Barrio Independencia 
      <ion-icon name="arrow-forward-circle"></ion-icon> Parque Arauco

    </ion-card-content>
    <ion-card-content class="colorletra">
     
        <h1>Conductor: Enrrique Gomez</h1>
     

      <img src="assets/icon/conductor2.jpeg"/>

      <h2>Asientos disponibles: 3</h2>
      <h2>Monto: $5.000</h2>
      <h2>Patente: XYPQ 01</h2>
    </ion-card-content>



    <ion-button shape="round" color="success">Tomar asiento</ion-button>
  </ion-card>

  <br>


</ion-content>